<%= simple_form_for(@state) do |f| %>
  <% if @state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@state.errors.count, "error") %> prohibited this state from being saved:</h2>

      <ul>
      <% @state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-groups">
    <%= f.association :country,
                      collection: Country.all.order(:name),
                      label: 'Selecciona un País',
                      label_html: { class: 'hola' },
                      input_html: { class: 'form-control'} %>
  </div>
  <div class="form-groups">
    <%= f.input :name,
                label: 'nombre',
                input_html: { class: 'form-control' } %>
  </div>
  <div class="actions">
    <%#= f.submit %>
    <button type='submit' class='btn btn-success btn-lg'> Guardar</button>
  </div>
<% end %>
