<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @contact.nickname %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @contact.avatar %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<%= link_to 'Addresses', contact_addresses_path(@contact) %>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
