<%= simple_form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.association :contact %>
  </div>
  <div class="form-group">
    <%= f.association :country %>
  </div>
  <div class="form-group">
    <%= f.association :state %>
  </div>
  <div class="form-group">
    <%= f.input :street %>
  </div>
  <div class="form-group">
    <%= f.input :zipcode %>
  </div>
  <div class="form-group">
    <%= f.input :address_type %>
  </div>
  <div class="form-group">
    <%= f.label :is_default %><br>
    <%= f.check_box :is_default %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
