<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @address.contact %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @address.zipcode %>
</p>

<p>
  <strong>Address type:</strong>
  <%= @address.address_type %>
</p>

<p>
  <strong>Is default:</strong>
  <%= @address.is_default %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
